@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
}

header img {
  width: 1280px;
  height: 720px;
  left: 0px;
  top: 0px;
}

header {
  color: #FFFFFF;
}

h1 {
  position: absolute;
  widows: 451px;
  height: 166px;
  left: 92px;
  top: 493px;
  font-size: 67.34px;
  line-height: 81.5px;
  text-align: center;
}

h2 {
  font-size: 37.9px;
  margin-bottom: 20px;
  line-height: 46px;
}

h3 {
  font-size: 21.33px;
  margin-bottom: 9px;
}

header nav ul {
  position: absolute;
  width: 1275px;
  height: 71px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-left: 5px;
  background-color: rgba(0, 0, 0, 0.2);
}

header nav li {
  font-size: 22px;
  margin-right: 91px;
  line-height: 26.63px;
}

header nav ul li a {
  color: #FFFFFF;
}

header nav ul li a:hover {
  color: #FFFFFF;
}

#about-me {
  display: grid;
  margin: 0;
  padding: 109px 109px 109px 109px;
  grid-template-columns: 464px 464px;
  grid-gap: 87px;
}

#my-work {
  width: 1275px;
  text-align: center;
}

.my-work-grid {
  display: grid;
  margin: 118px 118px 118px 118px;
  grid-template-columns: 335px 335px 335px;
  grid-template-rows: 575px 575px;
  grid-gap: 20px;
}

.my-work-grid article p {
  font-size: 16px;
  margin-bottom: 9px;
}

section a {
  display: inline-block;
  width: 125px;
  height: 23px;
  font-size: 14px;
  padding-top: 3px;
  text-align: center;
  background-color: rgba(97, 93, 93, 1);
  color: #FFFFFF;
  border-radius: 2px;
}
